.intu-jira-label {
    position: absolute;
    top:0px;
    right:0px;
    font-size:11px;
    background: #fffe6a;
    padding: 0 2px;
    border: 1px soild #aaaaaa;
}

.intu-jira-label-left {
    position: absolute;
    bottom:1px;
    left:5px;
    font-size:11px;
    background: #8cff85;
    padding: 0 2px;
    border: 1px soild #aaaaaa;
}

.intu-error {
    padding-left: 10px;
    color: red;
    font-size: 14px;
}

.intu-jira-status {
    padding: 5px;
    border: 1px solid #A137BF;
    position: absolute;
    top: -20px;
    right: 10px;
    background-color: white;
}


.intu-jira-status div {
    color: #999999;
}

.intu-jira-status div strong {
    color: #A137BF;
}

.custom-sort {
    padding-right:10px;
}

/*http://time2hack.com/2013/03/jquery-tutorial-build-hovercards-for-your-website.html*/
.hovercard {
    font-size: 12px;
    display: none;
    position: absolute;
    width:300px;
    padding:3px;
    /*height: 150px;*/
    border:2px solid #0082c3;
    border-radius: 3px;
    background-color: #fffeba;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.4) 0px 3px 4px;
    -moz-box-shadow:  rgba(0, 0, 0, 0.4) 0px 3px 4px;
    box-shadow:  rgba(0, 0, 0, 0.4) 0px 3px 4px;
    /*background-color:rgba(255, 255, 255, 0.8);*/
}
.hovercard:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20px;
    border-bottom: 20px solid black;
    border-bottom-color: inherit;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.hovercard h3{
    padding: 2px 0px;
    margin: 0 0 0 0;
    font-size: 12px;
    font-family: Verdana, Georgia;
    border-bottom: 1px dashed #ccc;
}
.hovercard a{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed #eee;
}
.hovercard p{
    padding:2px 0px;
    margin: 0 0 0 0;
}
