.intu-label {
    position: absolute;
    font-size:10px;
    padding: 0 2px;
    border: 1px soild #aaaaaa;
}

.intu-label-top-right {
    top:0px;
    right:0px;
    background: #fffe6a;
}

.intu-label-bottom-left {
    bottom:0px;
    left:5px;
    background-color: #59ff5b;
}

.intu-label-bottom-right {
    bottom:0px;
    right:0px;
    color:#FF6666;
}

.intu-label-top-left {
    top:0px;
    left:5px;
    background-color: #FFBEF4;
}

#intu-menu {
    padding: 5px;
    border: 1px solid #333;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FFFE6A;
    z-index: 1;
    font-size: 13px;
}

#intu-menu div {
    color: #5D5D5D;
}

#intu-menu a {
    color: #333;
    text-decoration: underline !important;
    margin-right:10px;
}

#intu-menu div strong {
    color: #0978C3;
}

#intu-menu-error {
    color: red;
}

#intu-status, #intu-help {
    display: none;
    padding-top: 10px;
}

#intu-contact-me {
    background-color: #fff;
    padding: 5px;
    color: #333;
    margin: 3px;
    border: 1px solid #333
}

.custom-sort {
    padding-right:10px;
}

/*http://time2hack.com/2013/03/jquery-tutorial-build-hovercards-for-your-website.html*/
.hovercard {
    font-size: 12px;
    display: none;
    position: absolute;
    width:300px;
    padding:5px;
    /*height: 150px;*/
    border:2px solid #0082c3;
    border-radius: 3px;
    background-color: #fffeba;
    -webkit-box-shadow:  rgba(0, 0, 0, 0.4) 0px 3px 4px;
    -moz-box-shadow:  rgba(0, 0, 0, 0.4) 0px 3px 4px;
    box-shadow:  rgba(0, 0, 0, 0.4) 0px 3px 4px;
    /*background-color:rgba(255, 255, 186, 0.7);*/
    z-index: 1000;
}
.hovercard h3{
    padding: 2px 0px;
    margin: 0 0 0 0;
    font-size: 12px;
    font-family: Verdana, Georgia;
    border-bottom: 1px dashed #ccc;
}
.hovercard a{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed #eee;
}
.hovercard p{
    padding:2px 0px;
    margin: 0 0 0 0;
}

.hovercard-desc {
    max-height: 350px;
    overflow: hidden;
}

.hovercard-comment {
    max-height: 200px;
    overflow: hidden;
}
